@import "variables";

/// QUASAR THEME COLORS
$primary: $green-500;
$secondary: rgb(38, 166, 154);
$accent: $green-700;

$dark: $black-500;
$dark-page: $black-300;

$positive: #07bc0c;
$negative: #e74c3c;
$info: #3498db;
$warning: #f2c037;

/// OTHER THEME CONSTANTS
$background: $gray-100;
$surface: $white;
